#!/bin/sh
{% for db in dbs %}
echo "SELECT 'CREATE USER \"{{ db }}\"' WHERE NOT EXISTS (SELECT FROM pg_user WHERE usename = '{{ db }}')\gexec" | psql -d postgres -w
echo "GRANT \"{{ db }}\" TO $POSTGRES_USER;" | psql -d postgres -w
echo "ALTER USER \"$DB_USER\" WITH ENCRYPTED PASSWORD '$POSTGRES_{{ db|upper||replace("-", "_") }}_PASSWORD';" | psql -d postgres -w
echo "SELECT 'CREATE DATABASE \"{{ db }}\"' WHERE NOT EXISTS (SELECT FROM pg_database WHERE datname = '{{ db }}')\gexec" | psql -d postgres -w
echo "ALTER DATABASE \"{{ db }}\" OWNER TO \"{{ db }}\"; | psql -d postgres -w
echo "REVOKE ALL ON DATABASE \"{{ db }}\" FROM PUBLIC;" | psql -d postgres -w
echo "REVOKE ALL ON SCHEMA public FROM PUBLIC;" | psql -d {{ db }} -w
{% endfor %}
echo "SELECT 'CREATE USER exporter' WHERE NOT EXISTS (SELECT FROM pg_user WHERE usename = 'exporter')\gexec" | psql -d postgres -w
echo "ALTER USER exporter WITH ENCRYPTED PASSWORD '$POSTGRES_EXPORTER_PASSWORD';" | psql -d postgres -w | psql -d postgres -w
echo "GRANT pg_monitor TO exporter;" | psql -d postgres -w
