---
- name: Create Config Job
  kubernetes.core.k8s:
    state: "present"
    kubeconfig: "{{ kubeconfig }}"
    proxy: "{{ proxy_url }}"
    definition:
      apiVersion: batch/v1
      kind: Job
      metadata:
        name: "psql-{{ psql_name }}-config-{{ 1000000 | random | hash('md5') }}"
        namespace: "{{ psql_namespace }}"
      spec:
        template:
          spec:
            volumes:
            - name: config-script
              configMap:
                name: "psql-{{ psql_name }}-config-script"
              # 711 in decimal is 457
                defaultMode: 457
            containers:
            - name:  psql-config
              image: schulcloud/infra-tools:{{ infratools_image_tag }}
              command:
                - /bin/bash
                - -c
              args:
                - /scripts/config-script
              resources:
                limits:
                  cpu: 1000m
                  memory: 4Gi
                requests:
                  cpu: 100m
                  memory: 2Gi
              volumeMounts:
              - name: config-script
                mountPath: /scripts/
              envFrom:
              - secretRef:
                  name: "psql-{{ psql_name }}-config"
            restartPolicy: Never
        backoffLimit: 4