terraform {

  required_version = ">= {{ scalelite_certbot_terraform_version }}"
  required_providers {
    opentelekomcloud = {
      source = "opentelekomcloud/opentelekomcloud"
    }
  }
{% if scalelite_aws_access_key_id is defined %}

  backend "s3" {
    bucket = "{{ scalelite_certbot_terraform_state_bucket }}"
    key    = "{{ scalelite_certbot_terraform_state_key }}"

    region   = "{{ scalelite_certbot_terraform_state_region }}"
    endpoint = "{{ scalelite_certbot_terraform_state_endpoint }}"

    skip_region_validation      = true
    skip_credentials_validation = true
    skip_metadata_api_check     = true
    force_path_style            = true
    acl                         = "bucket-owner-full-control"
  }
{% endif %}
}

provider "opentelekomcloud" {

  # export OS_ACCESS_KEY ="T-Systems Access Key"
  # export OS_SECRET_KEY ="T-Systems Secret Key"

  domain_name = "{{ scalelite_certbot_terraform_telekom_domain }}"
  tenant_name = "{{ scalelite_certbot_terraform_telekom_tenant }}"
  auth_url    = "https://iam.eu-de.otc.t-systems.com/v3"
}

resource "opentelekomcloud_dns_recordset_v2" "a_records" {
  zone_id     = "{{ scalelite_dns_zone_id }}"
  name        = "_acme-challenge.{{ scalelite_hostname }}."
  ttl         = 300
  type        = "TXT"
  records = [""]
  description = "Managed by terraform, do not delete"
}
