---

- name: Create Grafana PVC
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig }}"
    proxy: "{{ proxy_url }}"
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: "{{ item.name }}-grafana"
        namespace: monitoring
      spec:
        accessModes:
          - ReadWriteOnce
        storageClassName: "{{ prometheus_community_values.grafana.persistence.storageClassName }}"
        resources:
          requests:
            storage: "{{ prometheus_community_values.grafana.persistence.size }}"
  when: item.grafana.enabled
  tags: prometheus

- name: Install Prometheus Stack
  kubernetes.core.helm:
    name: "{{ item.name }}"
    chart_ref: prometheus-community/kube-prometheus-stack
    update_repo_cache: true
    chart_version: "{{ prometheus_community_chart_version }}"
    kubeconfig: "{{ kubeconfig }}"
    release_namespace: "{{ item.namespace }}"
    wait: true
    wait_timeout: 1200s
    values:
      "{{ prometheus_community_values }}"
  tags: prometheus

