#!/bin/bash
START="$1"
END="$2"
SECRET="$3"
for (( i=$START; i<=$END; i++ )); do docker exec scalelite-api ./bin/rake servers:add[https://bbb-$i.$(hostname)/bigbluebutton/api,$SECRET]; done | grep id | cut -d " " -f2 > ids
for id in $(cat ids); do docker exec scalelite-api ./bin/rake servers:enable[$id]; done
docker exec scalelite-api ./bin/rake poll:servers
