---
- name: Add bitnami chart repo
  kubernetes.core.helm_repository:
    name: bitnami
    repo_url: "https://charts.bitnami.com/bitnami"

- name: Create Cassandra secret
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig }}"
    proxy: "{{ proxy_url }}"
    definition:
      apiVersion: onepassword.com/v1
      kind: OnePasswordItem
      metadata:
        name: "{{ cassandra_dbUser_secret_name }}"
        namespace: monitoring
      spec:
        itemPath: "vaults/{{ vault }}/items/cassandra"

- name: Create Cassandra PVCs
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig }}"
    proxy: "{{ proxy_url }}"
    definition:
      apiVersion: v1
      kind: PersistentVolumeClaim
      metadata:
        name: data-cassandra-{{ item }}
        namespace: monitoring
      spec:
        accessModes:
          - ReadWriteOnce
        resources:
          requests:
            storage: "{{ cassandra_pvc_size }}"
  # End is less than or equal so we have to substract 1
  with_sequence: start=0 end="{{ cassandra_replica_count -1 }}"

- name: Install Cassandra
  kubernetes.core.helm:
    name: cassandra
    chart_ref: bitnami/cassandra
    update_repo_cache: true
    wait: true
    wait_timeout: 600s
    chart_version: "{{ cassandra_chart_version }}"
    kubeconfig: "{{ kubeconfig }}"
    release_namespace: monitoring
    values:
      "{{ cassandra_values }}"
