kind: Deployment
apiVersion: apps/v1
metadata:
  name: onepassword-connect-operator-{{item.namespace}}
  namespace: {{item.namespace}}
  labels:
    app.kubernetes.io/component: operator
spec:
  replicas: 1
  selector:
    matchLabels:
      name: onepassword-connect-{{item.namespace}}
  template:
    metadata:
      labels:
        name: onepassword-connect-{{item.namespace}}
        app.kubernetes.io/component: operator
    spec:
      containers:
        - name: onepassword-connect
          image: '{{onepassword_connector_values.operator.imageRepository}}:{{onepassword_connector_values.operator.version}}'
          command:
            - /manager
          env:
            - name: WATCH_NAMESPACE
              value: {{item.namespace}}
            - name: POD_NAME
              valueFrom:
                fieldRef:
                  apiVersion: v1
                  fieldPath: metadata.name
            - name: OPERATOR_NAME
              value: onepassword-connect-operator-{{item.namespace}}
            - name: OP_CONNECT_HOST
              value: 'http://onepassword-connect.default:8080'
            - name: POLLING_INTERVAL
              value: '10'
            - name: OP_CONNECT_TOKEN
              valueFrom:
                secretKeyRef:
                  name: onepassword-token-{{item.namespace}}
                  key: token
            - name: AUTO_RESTART
              value: 'false'
          resources: {}
          imagePullPolicy: IfNotPresent
          securityContext:
            runAsUser: 65532
            runAsGroup: 65532
            allowPrivilegeEscalation: false
            capabilities:
              drop:
                - all
            runAsUser: 65532
            runAsGroup: 65532
            allowPrivilegeEscalation: false
      serviceAccountName: onepassword-connect-operator-{{item.namespace}}
      