---
- name: Clear local facts
  set_fact:
    bbb_servers: []
    bbb_turn_servers: []
- name: Generate BBB servers list
  vars:
    bbb_server: "{{ 'bbb-' + (n + 1) | string + '.' + bbb_domain_name }}"
    bbb_server_list_item: "{{ [bbb_server] }}"
  set_fact:
    bbb_servers: "{{ bbb_servers + bbb_server_list_item }}"
  loop: "{{ range(bbb_server_count) }}"
  loop_control:
    loop_var: n
- name: Generate TURN servers list
  vars:
    turn_server: "{{ 'turn-' + '%02d' | format(n + 1 | int) + '.' + bbb_domain_name }}"
  set_fact:
    bbb_turn_servers: "{{ bbb_turn_servers + [turn_server] }}"
  loop: "{{ range(bbb_turn_server_count) }}"
  loop_control:
    loop_var: n
# Prometheus Operator can only get additional scrape configs, volumes and volume mounts
# from one secret or one Helm value each so we have to add entries to the
# prometheus_additionalScrapeConfigs, prometheus_volumeMounts and prometheus_volumeMounts variable
- name: Add BBB scrape configs and liveness probes
  set_fact:
    prometheus_additionalScrapeConfigs: "{{ prometheus_additionalScrapeConfigs + bbb_prometheus_scrape_config }}"
    prometheus_volumes: "{{ prometheus_volumes + [bbb_prometheus_volume] }}"
    prometheus_volumeMounts: "{{ prometheus_volumeMounts + [bbb_prometheus_volume_mount] }}"
    prometheus_blackbox_exporter_targets: "{{ prometheus_blackbox_exporter_targets + [bbb_liveness_probe_create, bbb_liveness_probe_end] }}"

- name: Create BBB basic auth credentials secret
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig }}"
    definition:
      apiVersion: onepassword.com/v1
      kind: OnePasswordItem
      metadata:
        name: "{{ bbb_node_exporter_basic_auth_secret_name }}"
        namespace: monitoring
      spec:
        itemPath: "vaults/{{ vault }}/items/{{ bbb_node_exporter_basic_auth_secret_name }}"
