---
- name: Create instance namespace
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ kubeconfig }}"
    api_version: v1
    name: "{{ item.namespace }}"
    kind: Namespace
  with_items: "{{ onepassword_instances }}"

- name: Create onepassword token secrets for instances
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ lookup('env','HOME') }}/.kube/{{ terraform_run.outputs.cluster_name.value }}.yaml"
    definition:
      apiVersion: v1
      kind: Secret
      type: Opaque
      metadata:
        name: "{{ onepassword_connector_token_name }}-{{ item.namespace }}"
        namespace: "{{ item.namespace }}"
      data:
        token: "{{ lookup('dbildungscloud.onepwd.onepwd', secret_name='onepassword.token', vault=instance_vault)  | b64encode }}"
  vars:
    instance_vault: "{% if item.vault is defined %}'{{ item.vault }}'{% else %}'{{ item.project if item.project is defined else project }}'-'{{ item.stage if item.stage is defined else stage }}'-'{{ item.name }}'{% endif %}"
  with_items: "{{ onepassword_instances }}"

- name: Create onepassword ServiceAccounts
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ lookup('env','HOME') }}/.kube/{{ terraform_run.outputs.cluster_name.value }}.yaml"
    definition:
      kind: ServiceAccount
      apiVersion: v1
      metadata:
        name: "onepassword-connect-operator-{{ item.namespace }}"
        namespace: "{{ item.namespace }}"
  with_items: "{{ onepassword_instances }}"

- name: Create onepassword RoleBinding
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ lookup('env','HOME') }}/.kube/{{ terraform_run.outputs.cluster_name.value }}.yaml"
    definition:
      kind: RoleBinding
      apiVersion: rbac.authorization.k8s.io/v1
      metadata:
        name: onepassword-connect-operator-{{ item.namespace }}-default
        namespace: "{{ item.namespace }}"
      subjects:
        - kind: ServiceAccount
          name: onepassword-connect-operator-{{ item.namespace }}
          namespace: "{{ item.namespace }}"
      roleRef:
        kind: ClusterRole
        name: onepassword-connect-operator
        apiGroup: rbac.authorization.k8s.io
  with_items:
    - "{{ onepassword_instances }}"

- name: Install 1password operators
  kubernetes.core.k8s:
    state: present
    kubeconfig: "{{ lookup('env','HOME') }}/.kube/{{ terraform_run.outputs.cluster_name.value }}.yaml"
    template: onepassword-operator-deployment.yml.j2
  with_items: "{{ onepassword_instances }}"
