server{
  listen 8080;
  location / {
    proxy_hide_header 'Access-Control-Allow-Origin';
    add_header 'Access-Control-Allow-Origin' $http_origin;
    proxy_pass https://{{ bettermarks_subdomain }}.{{ bettermarks_domain }};
    proxy_ssl_server_name on;
    proxy_intercept_errors off;
  }
}