server{
  listen 8080;
  location / {
    proxy_hide_header 'Access-Control-Allow-Origin';
    add_header 'Access-Control-Allow-Origin' $http_origin;
    # Hide original CSP Headers
    proxy_hide_header 'Content-Security-Policy';
    proxy_hide_header 'Content-Security-Policy-Report-Only';
{% if bettermarks_proxy_csp_enabled and bettermarks_proxy_csp_enforced %}
    add_header 'Content-Security-Policy' "default-src 'self' 'unsafe-eval' 'unsafe-inline' *.{{ bettermarks_proxy_maindomain }} *.{{ bettermarks_instancedomain }} {{ bettermarks_instancedomain }}; report-uri https://{{ bettermarks_proxy_subdomains['csp-report'] }}.{{ bettermarks_proxy_maindomain }}/csp";
{% elif bettermarks_proxy_csp_enabled %}
    add_header 'Content-Security-Policy-Report-Only' "default-src 'self' 'unsafe-eval' 'unsafe-inline' *.{{ bettermarks_proxy_maindomain }} *.{{ bettermarks_instancedomain }} {{ bettermarks_instancedomain }}; report-uri https://{{ bettermarks_proxy_subdomains['csp-report'] }}.{{ bettermarks_proxy_maindomain }}/csp/report-only";
{% endif %}
    proxy_set_header {{ proxy_identification_header }} true;
    proxy_pass https://{{ bettermarks_subdomain }}.{{ bettermarks_domain }};
    proxy_ssl_server_name on;
    proxy_intercept_errors off;
  }
}
