apiVersion: v1
kind: Secret
metadata:
    name: "psql-{{ psql_name }}-config"
    namespace: "{{ psql_namespace }}"
type: Opaque
data:
    PGHOST: "{{ psql_host | b64encode }}"
    PGUSER: "{{ psql_user | b64encode }}"
    PGPASSWORD: "{{ psql_pass | b64encode }}"
    DB_NAME: "{{ psql_db_name | b64encode }}"
    DB_CUSTOM_COMMAND: "{{ psql_db_custom_command | b64encode }}"
{% for user in psql_db_users %}
    DB_{{ user.name | upper }}_USER_PASS: "{{ user.password | b64encode }}"
{% endfor %}