
# https://github.com/privacyidea/privacyidea/blob/master/deploy/pi.cfg
import logging
# The realm, where users are allowed to login as administrators,those realm are retrieved from the SUPERUSER_REALM and POLICY in Dumpf File
SUPERUSER_REALM = ['admin','ucs_users','service']
# Your database
SQLALCHEMY_DATABASE_URI = 'mysql+pymysql://{{ mariadb_user }}:{{ privacyidea_db_user_password }}@{{ privacyidea_mariadb_host }}/{{ privacyidea_mariadb_name }}'
# This is the dummy base class
#PI_AUDIT_MODULE = 'privacyidea.lib.auditmodules.base'
# This is the default
#PI_AUDIT_MODULE = 'privacyidea.lib.auditmodules.sqlaudit'
# This is used to sign the audit log
PI_AUDIT_KEY_PRIVATE = '/etc/privacyidea/private.pem'
PI_AUDIT_KEY_PUBLIC = '/etc/privacyidea/public.pem'
#PI_AUDIT_SQL_TRUNCATE = True
# The Class for managing the SQL connection pool
#PI_ENGINE_REGISTRY_CLASS = "shared"
#PI_AUDIT_POOL_SIZE = 20
# Using 30 as suggest to not influence performance
PI_LOGLEVEL = 30
PI_LOGFILE = '/var/log/privacyidea/privacyidea.log'
#This is used to encrypt the token data and token passwords. The encryption key (enckey) is imported along with the dump file.
PI_ENCFILE = '/etc/privacyidea/enckey'
# This is used to encrypt the admin passwords
PI_PEPPER = '{{ privacyidea_pi_pepper }}'
SECRET_KEY = '{{ privacyidea_secret_key }}'
PI_PREFERRED_LANGUAGE = ["de"]
PI_AUDIT_SQL_TRUNCATE = True
PI_AUDIT_SQL_COLUMN_LENGTH = {"info": 1000, "action": 100, "action_detail": 100, "policies": 1000}