[uwsgi]
plugin = python3,logfile
chdir = /etc/privacyidea
module = privacyideaapp
master = true
processes = 4 #2 *CPUs + 1
harakiri = 60
reload-mercy = 8
cpu-affinity = 1
stats = /tmp/stats.socket
max-requests = 2000
limit-as = 1024
reload-on-as = 368
reload-on-rss = 192
reload-on-exception = true
no-orphans = true
uid = www-data
gid = www-data
vacuum = true
socket = /run/uwsgi/app/privacyidea/privacyidea.socket
virtualenv = /opt/privacyidea/virtualenv
logto = /var/log/uwsgi/privacyidea.log
log-date = true
log-5xx = true
log-reopen = true
disable-logging = false
logger = file:/var/log/uwsgi/error.log
req-logger = file:/var/log/uwsgi/request.log
socket-timeout = 300
buffer-size = 8192