╔════════════════════════════════════════════════════════════╗
  ʕ•ᴥ•ʔ Welcome to your VM!

  Hostname: {{ inventory_hostname }}
   IP (v4): {{ ansible_default_ipv4.address }}
   IP (v6): {{ ansible_default_ipv6.address | default('not available', true) }}
  
  Managed by Ansible
╚════════════════════════════════════════════════════════════╝
