{
  "name": "admin_full_access_policy",
  "scope": "admin",
  "action": "init,enable,disable,revoke,set,setOTPPIN,setMOTPPIN,resync,assign,unassign,import,remove,userlist,checkstatus,manageToken,getserial,getrandom,getchallenges,losttoken,adduser,updateuser,deleteuser,copytokenuser,copytokenpin,smtpserver_write",
  "user": "{{ privacyidea_admin }}",
  "realm": "{{ admin_realm }}",
  "resolver": "{{ sql_admin_resolver }}"
}