server {
    listen 80
    server_name {{ privacyidea_server_name }};

    access_log /var/log/nginx/privacyidea.access.log;
    error_log /var/log/nginx/privacyidea.error.log;

    location / {
        include uwsgi_params;
        uwsgi_pass unix:/run/uwsgi/app/privacyidea/privacyidea.socket;

        # Add the following timeout settings
        proxy_connect_timeout 75s;
        proxy_read_timeout 300s;
        proxy_send_timeout 300s;
    }

    location /static {
        alias /opt/privacyidea/virtualenv/lib/python3.10/site-packages/privacyidea/static;
    }
}