import sys
import socket
sys.stdout = sys.stderr
from privacyidea.app import create_app

# Get the hostname
hostname = socket.gethostname()

config_name = {{ config_name }}
debug_mode = {{ debug_mode }}

application = create_app(config_name=config_name, config_file="/etc/privacyidea/pi.cfg")
application.debug = debug_mode