{
    "Driver": "mysql+pymysql",
    "Server": "localhost",
    "Database": "{{ privacyidea_mariadb_name }}",
    "User": "{{ mariadb_user }}",  
    "Password": "{{ privacyidea_db_user_password }}",
    "Table": "users_service",
    "Editable": "1",
    "Map": "{\"userid\": \"id\", \"username\": \"username\", \"email\": \"email\", \"password\": \"password\", \"phone\": \"phone\", \"mobile\": \"mobile\", \"surname\": \"surname\", \"givenname\": \"givenname\", \"description\": \"description\"}",
    "Limit": 500
}