{
    "Driver": "mysql+pymysql",
    "Server": "{{ privacyidea_mariadb_private_ip }}",
    "Database": "{{ privacyidea_mariadb_name }}",
    "User": "{{ mariadb_user }}",  
    "Password": "{{ privacyidea_db_user_password }}",
    "Table": "users",
    "Editable": "1",
    "Map": {
        "userid": "id",
        "username": "username",
        "email": "email",
        "password": "password",
        "phone": "phone",
        "mobile": "mobile",
        "surname": "surname",
        "givenname": "givenname",
        "description": "description"
    },
    "where": "",
    "Limit": 500
}