[Unit]
Description=uWSGI Service
After=syslog.target

[Service]
ExecStart=/usr/bin/uwsgi --ini /etc/uwsgi/apps-available/privacyidea.ini
Restart=always
KillSignal=SIGQUIT
Type=notify
NotifyAccess=all
User=www-data
Group=www-data

[Install]
WantedBy=multi-user.target
