# See https://github.com/redis/redis/blob/7.2/redis.conf
protected-mode yes
user {{ template_user }} on +@all -@scripting -@admin -@dangerous ~* &* #{{ template_secret | hash('sha-256') }}
user default off