<html>
    <head>
        <title>{{ maintenance_page_title }}</title>
        <style>.timeline{-webkit-tap-highlight-color: transparent;line-height: 1.428571429;-webkit-font-smoothing: antialiased;font-family:
        "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 1.4em;font-weight: 400;color: #126dc4;box-sizing: border-box;}
        .panel-heading{-webkit-tap-highlight-color: transparent;line-height: 1.428571429;-webkit-font-smoothing: antialiased;font-family:
        "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 1.728rem;box-sizing: border-box;font-weight: 700;} .list-group{
        -webkit-tap-highlight-color: transparent;line-height: 1.428571429;-webkit-font-smoothing: antialiased;font-family: "Open Sans",
        "Helvetica Neue",Helvetica,Arial,sans-serif;font-size: 1.4em;font-weight: 400;box-sizing: border-box;margin-bottom: 0;padding-left: 0;}
        .list-group-item{ -webkit-tap-highlight-color: transparent; line-height: 1.428571429; -webkit-font-smoothing: antialiased;font-family:
        "Open Sans","Helvetica Neue",Helvetica,Arial,sans-serif;font-weight: 400;box-sizing: border-box;position: relative;display: block;
        margin-bottom: 0;border-radius: 0;background-color: #fff;border: 1px solid #e8e8e8;font-size: 1.1em;padding: 15px;border-top-width: 0;
        border-bottom: 0;border-bottom-right-radius: 2px;border-bottom-left-radius: 2px;}
        </style>
    </head>
    <body>
        <div class="timeline">
        <div class="panel panel-info">
            <div class="panel-heading">
            <strong>{{ maintenance_page_panel_heading }}</strong>
            </div>
            <div class="list-group">
            <div class="list-group-item">
                {{ maintenance_page_text }}
            </div>
            </div>
        </div>
        </div>
    </body>
    </html>